<!-- Search Form  -->
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <!-- Material | FormField -->
  <mat-form-field appearance="fill">
    <mat-label>Search for a Movie</mat-label>
    <input matInput type="text" placeholder="Movie Title" />
    <mat-error *ngIf="searchForm.hasError('required')">
      Movie title is required.
    </mat-error>
  </mat-form-field>

  <!-- Search Button -->
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="searchForm.invalid"
  >
    Search
  </button>
</form>
