<!-- Search Form  -->
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <!-- Material | FormField -->
  <mat-form-field appearance="fill">
    <mat-label>Search for a Movie</mat-label>
    <!-- Bind input to 'title' form control -->
    <input
      matInput
      type="text"
      formControlName="title"
      placeholder="Movie Title"
    />
    <mat-error *ngIf="searchForm.touched && searchForm.get('title')?.errors">
      {{ getInputRequiredError() }}
    </mat-error>
  </mat-form-field>

  <!-- Search Button -->
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="searchForm.invalid"
  >
    Search
  </button>
</form>

<!-- Loading spinner -->
<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<!-- Display message to provide user feedback -->
<div *ngIf="errorMessage" class="no-results">
  <p>{{ errorMessage }}</p>
</div>

<!-- Search Movies results -->
<div class="movies-container" *ngIf="movies.length > 0">
  <div class="movies-row">
    <!-- could have movie item component? -->
    <a
      *ngFor="let movie of movies"
      [routerLink]="['/movie-details', movie.id]"
      class="movie-card-link"
    >
      <app-movie-item [movie]="movie"></app-movie-item>
    </a>
  </div>
  <!-- Page controller [changePage()] -->
  <div class="page-controller">
    <button
      mat-button
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button
      mat-button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      Next
    </button>
  </div>
</div>

<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<!-- movie-list component -->
<!-- List the trending | upcoming movies -->
<app-movie-list></app-movie-list>
