.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;

  .movie-details-image img {
    max-width: 350px;
    height: auto;
    border-radius: 5px;
  }

  .movie-details-info {
    h2 {
      font-size: 2rem;
      font-weight: 500;
      padding: 0;
      margin-bottom: 0.5rem;
    }

    .genre-list {
      display: flex;
      margin-top: 2rem;

      li {
        margin-right: 1rem;
        border: 1px solid rgb(64, 21, 104);
        border-radius: 5px;
        background-color: blueviolet;
        color: aliceblue;
        border-radius: 5px;
        padding: 0.5rem;
        font-weight: 500;

        &:hover {
          background-color: rgb(161, 93, 225);
          cursor: pointer;
        }
      }
    }

    .movie-desc {
      margin: 3rem 0;
      max-width: 100%;
    }

    .lesser-info {
      margin-top: 0.2rem;
      opacity: 0.6;

      span {
        margin-right: 0.2rem;
      }
    }

    .upper {
      text-transform: uppercase;
    }
  }

  // Media query for mobile screens
  @media (max-width: 800px) {
    flex-direction: column; // Stack elements vertically on smaller screens

    .movie-details-image img {
      max-width: 100%; // Full width images on small screens
    }

    // .movie-details-info {
    // }
  }
}

// Headings
.movie-heading {
  display: flex;
  align-items: flex-start;
  text-align: center;
  h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
  }

  mat-icon {
    margin-right: 6px;
  }
}

// watch providers
.watch-providers {
  margin-top: 1rem;
  display: flex;
  gap: 50px;

  .provider_details {
    margin-bottom: 0.4rem;
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      border-radius: 10%;
      width: 50px;
      height: auto;
    }

    p {
      font-size: 0.8rem;
    }

    p.active {
      color: rgb(10, 83, 8);
      font-weight: 500;
      font-size: 0.85rem;
      border: 2px solid green;
      background-color: #c7dbc8;
      padding: 10px;
      border-radius: 4px;
    }
  }
}
