<div *ngIf="movie" class="row">
  <!-- Poster -->
  <div class="movie-details-image">
    <img
      mat-card-image
      [src]="getPosterImageUrl(movie.poster_path)"
      alt="{{ movie.title }} Poster"
    />
  </div>
  <!-- Movie Information -->
  <div class="movie-details-info">
    <h2>{{ movie.title }}</h2>

    <!-- Movie Release Date -->
    <p>Release Date: {{ movie.release_date }}</p>

    <!-- List Proudction -->
    <!-- <ul class="production-list">
      <li *ngFor="let company of movie.production_companies">
        {{ company.name }}
      </li>
    </ul> -->

    <!-- Lesser Information Stats -->
    <p class="lesser-info">
      <span
        >Original Language:
        <span class="upper">{{ movie.original_language }}</span></span
      >
      -- <span>{{ movie.runtime }} Minutes</span> --
      <span>{{ movie.status }}</span>
    </p>

    <!-- Movie Rating -->
    <app-star-rating [rating]="movie.vote_average"></app-star-rating>
    <span class="vote-count">{{ movie.vote_count }} Votes</span>

    <!-- List genres -->
    <ul class="genre-list">
      <li *ngFor="let genre of movie.genres">{{ genre.name }}</li>
    </ul>

    <!-- Overview of movie -->
    <div class="movie-desc">
      <div class="movie-heading">
        <mat-icon color="primary">info_outline</mat-icon>
        <h4>Movie Description:</h4>
      </div>
      <p>{{ movie.overview }}</p>
    </div>

    <div class="subscription-list">
      <div class="movie-heading">
        <mat-icon color="primary">live_tv</mat-icon>
        <h4>Available Subscriptions:</h4>
      </div>

      <!-- Place subscription list here -->
    </div>
  </div>
</div>

<hr class="divider" />

<app-movie-review [movieId]="movie!.id"></app-movie-review>
