.review-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;

  h2 {
    font-size: 1.6rem;
    text-align: left;
  }

  mat-card {
    padding: 1.5rem;

    .review-heading-container {
      display: flex;
      justify-content: space-between;

      @media (max-width: 800px) {
        margin-bottom: 1.2rem;
      }

      mat-card-title {
        font-size: 1.4rem;
        margin-bottom: 0.4rem;
      }

      .review-rating {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        text-align: center;
        background-color: blueviolet;
        color: aliceblue;
        font-size: 1.2rem;
        border: 1px solid rgb(72, 23, 117);
        border-radius: 100%;
      }
    }

    mat-card-subtitle {
      margin-bottom: 0.4rem;
      span {
        font-weight: 500;
      }
    }

    mat-card-content {
      padding: 0.7rem;
    }
  }
}
