.movies-container {
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .movies-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; // Adjust the gap to your preference
  }

  .movie-card-link {
    text-decoration: none;
    color: inherit;

    &:hover {
      opacity: 0.8;
      color: blueviolet;
    }
  }

  .movie-card {
    display: flex;
    flex-direction: column;
    height: 100%; // This will make sure that all cards have the same height
  }

  mat-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.8rem;
  }

  img[mat-card-image] {
    width: 100%;
    height: 300px; // Fixed height for all images
    object-fit: cover; // Ensure images cover the area without distortion
  }
}

.divider {
  margin: 4rem 0;
  opacity: 0.5;
}
