.movies-container {
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .movies-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0 20px;

    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; // Adjust the gap to your preference
  }

  .movie-card-link {
    text-decoration: none;
    color: inherit;
    flex: 0 0 auto;

    &:hover {
      opacity: 0.8;
      color: #8a2ce2;
    }
  }
}

.divider {
  margin: 4rem 0;
  opacity: 0.5;
}
