.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

mat-card {
  width: 80%;
  max-width: 25rem; //400px
  text-align: center;
  padding: 2rem;
  border-radius: 3px;
}

h1 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  padding: 0.5rem;
  margin: 2rem 0;
  word-wrap: break-word;
}

a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0.5rem;

  &:hover {
    color: blueviolet;
  }
}

// Media Query - Responsive
@media (min-width: 768px) {
  mat-card {
    width: 60%;
  }
  h1 {
    font-size: 3.5rem;
  }
  a {
    font-size: 1.2rem;
  }
}
